html {
    box-sizing: border-box;
    font-size: 16px;
}

a {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body{
    background-color: rgb(220, 206, 188);

}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: "Poppins";
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}


.header {
    background-color: rgb(204, 183, 155);
    opacity: 0.9;
    width: 70%;
    height: 12vh;
    text-align: center;
    line-height: 12vh;
    /* position: absolute; */
    color: white;
    border-radius: 120px;
    margin-left: 15em;
    margin-top: 1em;
}

.logo {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    /* margin-top: 1.5em; */
}

.logoImg {
    width: 200px;
}

.navBar {
    display: inline-block;
    font-size: 1.3em;
    /* float: right; */
}

.navList :hover {
    transition-duration: 0.3s;
    transition-duration: color;
    color: #412411;
    font-size: 1.1em;
    font-weight: bold;
}

#list {
    float: left;
    margin-left: 1.5em;
}
.shopping_car{
    display: inline-block;
}
.shopping_car_icon{
    float: right;
    text-align: end;
}
.about_us{
    width: 100vw;
    height: 150vh;
    background-color: rgb(220, 206, 188);
    text-align: center;
}
.about_us_titlle{
    font-size: 50px;
    margin-top: 5vh;
}
.about-us_content{
    width: 70vw;
    margin:auto;
    margin-top: 5vh;
    margin-bottom: 10vh;
    text-align: left;
    line-height: 2em;
    font-size: 20px;
}
.content_img{
    width: 50vw;
    height: 50vh;
    background-color: red;
    overflow: hidden;
    text-align: center;
    margin: auto;
}
.btn-content {
    padding: 1.5em;
    background-color: #ffff;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    color: black;
}

.btn-content:hover {
    transition-duration: 0.5s;
    transition-duration: padding;
    padding: 1.7em;
    background-color: #412411;
    color: white;
    font-weight: bold;
}
.contact {
    background-color: rgb(220, 206, 188);
    height: 90vh;
    text-align: center;
    color: #412411;
  }
  .contact-title{
    text-align: center;
    font-size: 2.5em;
    padding-top: 10vh;
  }
  
  form {
    display: inline-block;
    width: 40vw;
    height: 60vh; 
    margin-top: 5vh;
  }
  
  .form-list{
    font-size: 1.5em;
    margin: 7vh;
  }
  
  form li + li {
    margin-top: 1.2em;
  }
  
  label {
    display: inline-block;
    min-width: 90px;
    text-align: right ;
    float: left;
  }
  
  input,
  textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 5em;
  }
  
  button {
    padding-left: 90px;
    display: inline-block;
    margin-top: 2vh;
    padding: 1.7em;
    border: none;
    border-radius: 10px;
    font-weight: 800;  
  }