html {
    box-sizing: border-box;
    font-size: 16px;
}

a {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body{
    opacity: 0.9;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: "Poppins";
}

ol,
ul {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.promo{
    display: flex;
    font-size: 20px;
    height: 5vh;
    background-color: brown;
    justify-content: center;    
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    width: 60vw;
    height: 10vh;
}
.nav_list:hover{
    transition-duration: 0.5s;
    transition-duration: font-size;
    font-size: 1.2em;
}
main{
    display: flex;
    width: 70vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
}
.images{
    width: 35vw;
    height: 60vh;
    border-radius: 10px;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
}
.box{
    display: flex;
    justify-content: space-evenly;
    padding: 0.5em;
    background-color: rgb(197, 197, 197);
    width: 15vw;
    border-radius: 10px;
    font-size: 1.2em;
}
.btn-content{
    padding: 1em;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-weight: bold;
}
.btn-content:hover{
    transition-duration: 0.5s;
    transition-duration: padding;
    background-color: #412411;
    color: white;
}
.titlle{
    display: flex;
    justify-content: center;
    height: 20vh;
    align-items: center;
}
#contact{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 70vw;
    font-size: 30px;
    justify-content: space-evenly;
    margin: auto;
    align-items: center;
}
.contact_input{
    padding: 20px;
    width: 40vw;
    border-radius: 5px;
    border: solid black;
}